<div class="events-container" *ngIf=!this.showProfile>
  <!-- Header with heart icon -->
  <div class="events-header">
    <!-- <h1>For you</h1> -->
    <h1>My events</h1>
    <button class="heart-icon" (click)="toggleFriendRequests()" [disabled]="!showProfilesSection">
      ❤️
    </button>
  </div>
  <!-- Friend Requests Section -->
  <div *ngIf="showFriendRequests" class="friend-requests">
    <h3>Friend Requests</h3>
    <p *ngIf="friendRequests.length === 0">No new requests.</p>
    <div *ngFor="let request of friendRequests" class="request-card">
      <img [src]="request.image" alt="{{ request.name }}" />
      <p>{{ request.name }}</p>
      <button class="accept-button" (click)="acceptFriend(request)">Reject</button>
      <button class="reject-button" (click)="rejectFriend(request)">Accept</button>
    </div>
  </div>
  <!-- Events List -->
  <h3 *ngIf="showProfilesSection">Your Events</h3>
  <h3 *ngIf="!showProfilesSection">Events joined</h3>
  <div *ngIf="isLoading" class="loading-placeholder">
    <div class="loading-card" *ngFor="let card of loadingCards">
      <div class="loading-text"></div>
      <div class="loading-text short"></div>
      <div class="loading-text short"></div>
      <div class="loading-buttom short"></div>
    </div>
  </div>
  <div *ngIf="events && !isLoading && events.length > 0; else noEvents">
    <div *ngFor="let event of events">
      <div class="event-card" (click)="goToEventDetail(event.id)">
        <!-- Status Badge -->
        <div *ngIf="event.accProfiles.length >= event.bu_count; else checkMin" class="status-badge closed">
          <p>Tickets Filled</p>
        </div>      
        <ng-template #checkMin>
          <div *ngIf="event.accProfiles.length >= event.bu_min_count" class="status-badge confirm">
            <p>Confirmed</p>
          </div>
        </ng-template>
        <div class="event-details">
          <div class="event-datetime">
            <h3>{{ event.name }}</h3>
            <p>{{ formatDateTime(event.startTime).formattedDate }}</p>
            <p>{{ formatDateTime(event.startTime).formattedTime }}</p>
          </div>
          <!-- Stack of accepted profile images -->
          <!-- <div class="accepted-profiles">
            <div class="profile-stack">
              <img *ngFor="let profile of event.profiles" [src]="profile.image || images.profile1" alt="{{ profile.name }}" class="profile-image" />
            </div>
          </div> -->
          <div class="accepted-profiles">
            <!-- <div class="profile-stack">
              <ng-container *ngFor="let profile of event.profiles.slice(0,3); let i = index">
                <img [src]="profile.image || images.profile1" [alt]="profile.name" class="profile-image" />
              </ng-container>
              <ng-container *ngIf="event.profiles.length > 3" class="profile-more">
                +{{ event.profiles.length -3 }} </ng-container>
            </div> -->
            <div class="profile-stack" (click)="toggleAcceptedProfiles(event); $event.stopPropagation()">
              <ng-container *ngFor="let profile of (event.accProfiles); let i = index">
              <ng-container *ngIf="i < 2">
              <img
                    [src]="profile.image || images.profile1"
                    [alt]="profile.name || 'Profile Image'"
                    class="profile-image"
                  />
              </ng-container>
              </ng-container>
              <div *ngIf="(event.accProfiles).length > 2" class="profile-more">
                +{{ (event.accProfiles).length - 2 }}
              </div>
              </div>
          </div>
        </div>
        <button *ngIf="showProfilesSection" (click)="toggleInterestedProfiles(event); $event.stopPropagation()" [disabled]="!event.profiles || event.profiles.length === 0">
          {{ event.showProfiles ? 'Hide' : 'View' }} Interested Profiles
        </button>
        <!-- <button *ngIf="!showProfilesSection && event.showProfiles" (click)="toggleAcceptedProfiles(event)" [disabled]="!event.profiles || event.profiles.length === 0">
          {{ event.showProfiles ? 'Hide' : 'View' }} Joined Profiles
        </button> -->
      </div>
      <!-- Interested Profiles Section -->
      <div *ngIf="event.showProfiles" class="interested-profiles">
        <h4 *ngIf="event.profiles.length > 0">Profiles Interested</h4>
        <div (click)="openProfileView(profile)" class="profile-card" *ngFor="let profile of event.profiles; let i = index"
          [attr.data-id]="profile.id" [ngStyle]="{
            transform: activeIndex === i ? 'translateX(' + currentTranslateX + 'px)' : 'translateX(0)',
            transition: activeIndex === null ? 'transform 0.3s ease-out' : 'none',
            background: activeIndex === i ? getCardBackground(currentTranslateX) : 'white'
          }" (touchstart)="onTouchStart($event, i)" (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd(profile, event)">
          <img [src]="profile.image" alt="{{ profile.name }}" />
          <h3>{{ profile.name }}</h3>
          <p>{{ profile.commonInterests }} Common Interests</p>
          <button (click)="addFriend(profile)">Accept</button>
        </div>
      </div>
          <!-- Interested Profiles Section -->
          <div *ngIf="event.showAccProfiles" class="interested-profiles">
            <h4 *ngIf="event.accProfiles.length > 0">Confirmed Profiles</h4>
            <div (click)="openProfileView(profile)" class="profile-card" *ngFor="let profile of event.accProfiles;">
              <img [src]="profile.image" alt="{{ profile.name }}" />
              <h3>{{ profile.name }}</h3>
              <p>{{ profile.commonInterests }} Common Interests</p>
            </div>
          </div>
    </div>
</div>

<ng-template #noEvents>
  <div *ngIf="!isLoading" class="no-events-container">
    <div class="no-events-message">
      <img [src]="images.noEvents" alt="No Events" class="no-events-image">
      <p class="bold-message">No events to display.</p>
      <p>Create or join events to enjoy your weekend</p>
    </div>
  </div>
</ng-template>

  <!-- Event Creation Form -->
  <div *ngIf="isCreatingEvent" class="modal-overlay">
    <div class="create-event-form">
      <h3>Create New Event</h3>
  
      <!-- Step 1 -->
      <div *ngIf="formStep === 1">
        <div>
          <label>Event Name:</label>
          <input [(ngModel)]="newEvent.name" placeholder="Event Name" />
        </div>
        <div>
          <label>Event Description:</label>
          <input [(ngModel)]="newEvent.description" placeholder="Event Description" />
        </div>
        <div>
          <label>Location:</label>
          <input [(ngModel)]="newEvent.location" placeholder="Event Location" />
        </div>
        <div>
          <label>Location Link:</label>
          <input [(ngModel)]="newEvent.location_url" placeholder="Event Location URL" />
        </div>
        <div>
          <label>Max Participants:</label>
          <input [(ngModel)]="newEvent.bu_count" placeholder="Max participants" />
        </div>
        <div>
          <label>Min Buddies:</label>
          <input [(ngModel)]="newEvent.bu_min_count" placeholder="Min buddies" />
        </div>
        <div class="form-buttons">
          <button (click)="cancelEvent()">Cancel</button>
          <button (click)="nextStep()">Next</button>
        </div>
      </div>
  
      <!-- Step 2 -->
      <div *ngIf="formStep === 2">
        <div>
          <label>Date:</label>
          <input [(ngModel)]="newEvent.date" type="date" />
        </div>
        <div>
          <label>Time:</label>
          <input [(ngModel)]="newEvent.time" type="time" />
        </div>
        <div>
          <label>Organizer Name:</label>
          <input [(ngModel)]="newEvent.organizerName" placeholder="Organizer Name" />
        </div>
        <div>
          <label>Gender:</label>
          <select [(ngModel)]="newEvent.gender">
            <option value="Any">Any</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div>
          <label>Age Range:</label>
          <input [(ngModel)]="newEvent.age" placeholder="Age Range (e.g., 18-30)" />
        </div>
        <div>
          <label>Image URL:</label>
          <input [(ngModel)]="newEvent.image" placeholder="Image URL" />
        </div>
        <div>
          <label>Event Fee:</label>
          <input [(ngModel)]="newEvent.fee" placeholder="Event Fee" />
        </div>
        <div class="form-buttons">
          <button (click)="prevStep()">Back</button>
          <button (click)="saveEvent()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Swipeable Profiles Section -->
  <div class="swipeable-profiles" *ngIf="showProfilesInterested">
    <h3>Profiles Interested</h3>
    <div *ngFor="let profile of swipeableProfiles" class="swipe-card">
      <img [src]="profile.image" alt="{{ profile.name }}" />
      <p>{{ profile.name }}</p>
      <p>{{ profile.commonInterests }} Common Interests</p>
      <div class="swipe-actions">
        <button (click)="rejectProfile(profile, events)">❌ Reject</button>
        <button (click)="acceptProfile(profile, events)">✅ Accept</button>
      </div>
    </div>
  </div>
  <!-- Profiles Interested in Event -->
  <div class="profiles-interested" *ngIf="profiles.length > 0 && !isLoading">
    <h3>Profiles Interested</h3>
    <div class="profile-grid">
      <div *ngFor="let profile of profiles" class="profile-card">
        <img [src]="images.cross" class="close-icon" (click)="removeProfile(profile)" />
        <img class="profile-img" [src]="profile.image" alt="{{ profile.name }}" />
        <p class="profile-name">{{ profile.name }}</p>
        <p class="common-interests">
          {{ profile.commonInterests }} common interests
        </p>
        <button class="add-friend-btn" (click)="addFriend(profile)">
          Add Friend
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf=this.showProfile>
  <div class="profile-page">
    <div class="header">
      <button class="back-button" (click)="closeProfileView()">
        <svg width="15" height="15" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"> 
          <path d="M14.6624 1.03406C15.2686 0.384077 16.3215 0.318213 17.0142 0.886949C17.6537 1.41194 17.7627 2.29414 17.2989 2.93798L17.171 3.09364L9.79674 11L17.171 18.9064C17.7305 19.5064 17.7138 20.3943 17.163 20.9747L17.0142 21.1131C16.3748 21.638 15.4284 21.6223 14.8099 21.1055L14.6624 20.9659L6.32912 12.0298C5.82511 11.4893 5.78311 10.7045 6.20312 10.1233L6.32912 9.97021L14.6624 1.03406Z" fill="black" color="black"/>
        </svg>
      </button>
      <!-- <span class="weekend-text">Weekend</span>  -->
    </div>
    <div class="profile-card">
      <div class="profile-header">
        <img [src]="images.profile1" alt="Profile Picture" class="profile-picture" />
        <div class="profile-info">
          <h2 class="profile-name">{{ user?.name }}</h2>
          <p class="profile-about">{{ user?.about }}</p>
        </div>
      </div>
    </div>


    <div class="profile-container">
      <h3>Bio</h3>
      <div class="about-item" *ngFor="let item of bioItems">
        <div class="item-icon">
          <img [src]="item.icon" width="20" height="20" />
        </div>
        <div class="item-info">
          <span class="item-title">{{ item.title }}</span>
          <span class="item-title1">{{
            user[item.key]
            }}</span>
        </div>
      </div>
    </div>
    <div class="profile-container">
      <div class="interest-header">
        <h3>Interests</h3>
      </div>
      <div class="interests-container">
        <div class="interest-bubble" *ngFor="let interest of user.interest">
          {{ interest }}
        </div>
      </div>
    </div>
    <!-- About You Section -->
    <div class="profile-container">
      <h3>About You</h3>
      <div class="about-item" *ngFor="let item of aboutItems">
        <div class="item-icon">
          <img [src]="item.icon" width="20" height="20" />
        </div>
        <div class="item-info">
          <span class="item-title">{{ item.title }}</span>
          <span class="item-title1">{{
            user[item.key]
            }}</span>
        </div>
      </div>
    </div>
    <!-- More About You Section -->
    <div class="profile-container">
      <h3>More About You</h3>
      <p>Cover the things most people are curious about.</p>
      <div class="about-item" *ngFor="let item of moreItems">
        <div class="item-info">
          <div class="item-icon">
            <img [src]="item.icon" width="20" height="20" />
          </div>
          <span class="item-title">{{ item.title }}</span>
          <span class="item-title1">{{
            user[item.key]
            }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create Event Button -->
<button class="floating-button" (click)="toggleCreateEvent()">
  <span [ngClass]="{ 'rotate': isCreatingEvent }">
    <ng-container *ngIf="!isCreatingEvent">+</ng-container>
    <ng-container *ngIf="isCreatingEvent">+</ng-container>
  </span>
</button>