
$light-gray: #F5F5F5;
$gray: #E0E0E0;
$dark-gray: #959595;
$error-red: #B40000;
$success-green: #00846F;
$warning-yellow: #fffebe;
$orangee:rgb(255, 115, 0);

*{
    margin:0;
}



html, body { height: 100%; margin: 0; padding: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
