<div class="margin">
  <p class="weekend-text">Weekend</p>
  <div class="toggle-container">
    <button [class.active]="isDefaultView" (click)="switchView(true)">
      For-You
    </button>
    <button [class.active]="!isDefaultView" (click)="switchView(false)">
      Events
    </button>
  </div>
  <div *ngIf="isDefaultView" class="events-container">
    <div class="search-section">
      <div class="search-input">
        <input class="search-input-button" [(ngModel)]="searchQuery" placeholder="🔍 What's the event name?" />
        <button class="filter-icon" (click)="openFilterOptions()">
          <img class = "filter-image" [src]="images.filter" width = 20px; height = 20px;>
        </button>
      </div>
      <button (click)="filterEvents()">Search</button>
    </div>

<!-- Bottom Sheet for Filters -->
<div class="bottom-sheet" [ngClass]="{'show': showBottomSheet}" *ngIf="showBottomSheet">
  <div class="bottom-sheet-content">
    <img src="{{ images.cross }}" alt="Close" class="close-icon" (click)="closeFilterOptions()" />
    <h4>Filter Options</h4>
    <div class="filter-container">
      <div class="filter-selection">
        <h5>Select Filters</h5>
        <label *ngFor="let filter of ['date', 'hashtags', 'price', 'ratings']" (click)="selectFilter(filter)">
          {{ filter | titlecase }}
        </label>
      </div>
      <div class="filter-options">
        <ng-container *ngIf="selectedFilter === 'date'">
          <h5>Choose Date</h5>
          <div class="date-options">
            <label *ngFor="let range of ['thisWeek', 'thisMonth', 'thisQuarter', 'thisYear']">
              <input type="radio" name="date" [(ngModel)]="selectedDateRange" [value]="range" /> {{ range | titlecase }}
            </label>
          </div>
        </ng-container>

        <div *ngIf="selectedFilter === 'hashtags'" class="hashtag-selection">
          <h5>Choose Hashtags</h5>
          <div class="hashtag-bubbles">
            <span *ngFor="let hashtag of hashtags" 
                  [ngClass]="{'selected': selectedHashtags.includes(hashtag)}" 
                  (click)="toggleHashtag(hashtag)">
              {{ hashtag }}
            </span>
          </div>
        </div>

        <div *ngIf="selectedFilter === 'price'" class="price-selection">
          <h5>Choose Price Range</h5>
          <label *ngFor="let price of priceRanges">
            <input type="checkbox" 
                   [checked]="selectedPrice.includes(price)" 
                   (change)="togglePrice(price)" /> {{ price }}
          </label>
        </div>

        <div *ngIf="selectedFilter === 'ratings'" class="rating-selection">
          <h5>Choose Ratings</h5>
          <label *ngFor="let rating of ratingRanges">
            <input type="checkbox" 
                   [checked]="selectedRating.includes(rating)" 
                   (change)="toggleRating(rating)" disabled/> {{ rating }}
          </label>
        </div>
      </div>
    </div>
    <div class="bottom-sheet-button">
      <button 
        class="clear-button" 
        (click)="resetSelections()">
        Clear
      </button>
      <button 
        class="apply-button" 
        (click)="filterEvents()" 
        [disabled]="!isFilterSelected()" 
        [ngStyle]="{'background-color': isFilterSelected() ? '#ffc400' : '#ffc400',
        'color': isFilterSelected() ? 'black' : 'white'}">
        Apply
      </button>
    </div>
  </div>
</div>

    <!-- <section class="event-section">
      <h3>Upcoming events</h3>
      <div class="event-grid">
        <div class="event-card" *ngFor="let event of events?.upcomingEvents" (click)="filterEventsCategory(event.name)">
          <img [src]="event.image" alt="{{ event.name }}" />
          <p class="event-name">{{ event.name }}</p>
        </div>
      </div>
    </section> -->
      <!-- <h3>Upcoming events</h3>
    <section class="carousel-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <div class="carousel-wrapper" [style.transform]="getTransform()" (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
        <div class="carousel-item" *ngFor="let event of events; let i = index">
          <img [src]="event.image" alt="{{ event.name }}" />
          <p>{{ event.name }}</p>
        </div>
      </div>
    </section> --> 
    <div class="event-detail-container">
      <!-- Loader -->
      <div *ngIf="isLoading" class="loader-container">
        <div class="loader"></div>
      </div>     
    <section class="event-list">
      <h3>Events near you</h3>
      <div *ngIf="isLoading && this.offset==0" class="loading-placeholder">
        <div class="loading-card" *ngFor="let card of loadingCards">
          <div class="loading-image"></div>
          <div class="loading-text"></div>
          <div class="loading-text short"></div>
          <div class="loading-text short"></div>
        </div>
      </div>
      <div  *ngIf="!isLoading">
        <div class="event-card" *ngFor="let event of events; trackBy: trackByEventId" class="event-card"
          (click)="viewEvent(event.id)">
          <img [src]="event.image" alt="{{ event.name }}" />
          <h4 class="event-name">{{ event.name }}</h4>
          <p class="event-description">{{ event.description }}</p>
          <p>{{ formatDateTime(event.startTime) }}</p>
          <p>{{ event.fee == 0 || event.fee === null ? 'Free' : '₹' + event.fee }}, {{ event.age }}</p>
        </div>
      </div>
    </section>
    </div>
  </div>
  <div *ngIf="!isDefaultView" class="for-you-container">
    <app-for-you [showProfilesSection]="false"></app-for-you>
  </div>
</div>